{
	"extends": "@essex/eslint-config",
	"rules": {
		"@typescript-eslint/no-explicit-any": "off",
		"import/no-unresolved": "off",
		"import/named": "off"
	},
	"overrides": [
		{
			"files": "packages/test-vite/**",
			"rules": {
				"import/extensions": "off",
				"@essex/extensions": [
					"error",
					[
						{
							"expectedExtensions": [
								".js",
								".cjs",
								".mjs",
								".jsx",
								".css",
								".scss"
							]
						}
					]
				]
			}
		},
		{
			"files": "packages/test-webpack/**",
			"rules": {
				"import/extensions": "off",
				"@essex/extensions": [
					"error",
					[
						{
							"expectedExtensions": [
								".js",
								".cjs",
								".mjs",
								".jsx",
								".css",
								".scss"
							]
						}
					]
				]
			}
		}
	]
}
