{
	"extends": "@essex/eslint-config",
	"rules": {
		"@typescript-eslint/no-explicit-any": "off",
		"import/no-unresolved": "off",
		"import/named": "off"
	},
	"overrides": [
		{
			"files": "packages/test-vite/**",
			"rules": {
				"import/extensions": "off"
			}
		}
	]
}
