node_modules/
*.log

# Build Outputs
packages/*/lib/
packages/*/dist/
packages/*/build/
packages/*/docsTemp/
*.tsbuildinfo
.turbo/
.next/**

# Testing Output
coverage/
test-report.xml

linked_data/

# Yarn Gitignores
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions