node_modules/
*.log

# Build Outputs
lib/
dist/
build/
storybook-static/
*.tsbuildinfo

# Testing Output
coverage/
test-report.xml

# Yarn Gitignores
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*